<div ng-cloak>
	<div ng-switch="vm.isAuthenticated()">
		<div class="well" ng-switch-when="true">
			<div class="row">
	    		<div ng-repeat="photo in vm.photos">
    				<div class="col-md-4">
    					 <div class="well">
				        	<b><FONT size="5"> {{photo.title}}</FONT></b>
				             <div class="well"> <img class="picture" height="300" width="250" src="{{photo.uri}}" alt="Photo"/> </div>
				    			<p>{{photo.description}}</p>
				             	<p> Notez la photo :
				             		<span ng-click="vm.vote('1',photo.id,vm.account.id)" title="1 étoile">☆</span>
				             		<span ng-click="vm.vote('2',photo.id,vm.account.id)" title="2 étoiles">☆</span>
				             		<span ng-click="vm.vote('3',photo.id,vm.account.id)" title="3 étoiles">☆</span>
				             		<span ng-click="vm.vote('4',photo.id,vm.account.id)" title="4 étoiles">☆</span>
							  		<span ng-click="vm.vote('5',photo.id,vm.account.id)" title="5 étoiles">☆</span>
								</p>
	 			    			<p>Laissez un commentaire :<TEXTAREA ng-model="vm.MsgComment"  rows="3" cols="35" name="Comment"> </TEXTAREA></p>
				    			<INPUT TYPE="submit" ng-click="vm.ValiderComment(vm.MsgComment,photo.id,vm.account.id)" NAME="SubmitComment" VALUE="Valider">
						 </div>
					</div>
			 	</div>
			</div>
		</div>
    </div>
</div>
