<div ng-cloak>
<script type="text/javascript" src="javascript.js"></script>
	<div ng-switch="vm.isAuthenticated()">
		<div ng-switch-when="true">
			<div class="row">
	    		<div ng-repeat="photo in vm.photos">
    				<div class="col-md-4">
    					 <div class="well">
				        	<b><FONT size="5"> Titre : {{photo.title}}</FONT></b>
				             <div>
			             		<img  height="300" width="250" ng-src="{{photo.uri}}" alt="Photo"/>
				             </div> 
								<br>
				    			<p>Description : {{photo.description}}</p>
				    			<p>La moyenne des votes : {{vm.calculMoyenne(photo.id)}} </p>
				    			<p>Nombres de votes : {{vm.nbVote}} </p>

				    			<div ng-switch="vm.verifVote(photo.id)">
				    				<div ng-switch-when="true">
						             	<p> Notez la photo :
						             		<span ng-click="vm.saveVote('1',photo.id,vm.account.id)" title="1 étoile">☆</span>
						             		<span ng-click="vm.saveVote('2',photo.id,vm.account.id)" title="2 étoiles">☆</span>
						             		<span ng-click="vm.saveVote('3',photo.id,vm.account.id)" title="3 étoiles">☆</span>
						             		<span ng-click="vm.saveVote('4',photo.id,vm.account.id)" title="4 étoiles">☆</span>
									  		<span ng-click="vm.saveVote('5',photo.id,vm.account.id)" title="5 étoiles">☆</span>
										</p>
									</div>
									
				    				<div ng-switch-when="false">
						             	<p> Vous avez déjà voter pour cette photo.</p>
									</div>
								</div>
								
								<div class="well">
									<p> Tous les commentaires : </p>
									<!--
									<div ng-repeat="com in vm.CommentOnePhoto">
										<div ng-if="com.idPhoto == photo.id">
											<span> {{com.valueComment}} </span>
										</div>
									</div>
									-->
									<div ng-repeat="com in vm.comments">
										<div ng-switch="vm.photoAreEquals(photo.id,com.photo.id)">
											<div class="well" ng-switch-when="true">
												<span>  <u>  {{com.siteUser.firstName}} :</u> </span>
												<span>{{com.comment}}</span></span>
											</div>
										</div>
									</div>									
								</div>
								
	 			    			<p>Laissez un commentaire : <TEXTAREA ng-model="vm.MsgComment"  rows="3" cols="35" name="Comment"></TEXTAREA></p>
	 			    			
				    			<INPUT TYPE="submit" ng-click="vm.saveComment(vm.MsgComment,photo.id,vm.account.id)" NAME="SubmitComment" VALUE="Valider">
				    			
				
						 </div> 
					</div>
			 	</div>    			
			</div>
		</div>
    </div>
    
<!--
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider();
});
</script>

<style>
.bx-wrapper
{
 background:#c2c2c2;
 border:none;
}
</style>
<div class="well">
    <ul class="bxslider" height="300" width="250" >
    	<div ng-repeat="photo in vm.photos">
    		<center><b><FONT size="5"> Titre : {{photo.title}}</FONT></b></center>
	     	<li>
	 			<center>
		 			<img  height="300" width="250" ng-src="{{photo.uri}}"/>
	 			</center>
		 			<p>Description : {{photo.description}}</p>
	    			<p>La moyenne des votes : {{vm.calculMoyenne(photo.id)}} </p>
	    			<p>Nombres de votes : {{vm.nbVote}} </p>
	    			<div ng-switch="vm.verifVote(photo.id)">
    				<div ng-switch-when="true">
		             	<p> Notez la photo :
		             		<span ng-click="vm.saveVote('1',photo.id,vm.account.id)" title="1 étoile">☆</span>
		             		<span ng-click="vm.saveVote('2',photo.id,vm.account.id)" title="2 étoiles">☆</span>
		             		<span ng-click="vm.saveVote('3',photo.id,vm.account.id)" title="3 étoiles">☆</span>
		             		<span ng-click="vm.saveVote('4',photo.id,vm.account.id)" title="4 étoiles">☆</span>
					  		<span ng-click="vm.saveVote('5',photo.id,vm.account.id)" title="5 étoiles">☆</span>
						</p>
					</div>
					
    				<div ng-switch-when="false">
		             	<p> Vous avez déjà voter pour cette photo.</p>
					</div>
					<div class ="well">
					<p> Tous les commentaires : </p>
					<div ng-repeat="com in vm.comments">
						<div ng-switch="vm.photoAreEquals(photo.id,com.photo.id)">
							<div ng-switch-when="true">
								<span>  <u>  {{com.siteUser.firstName}} :</u> </span>
								<span>{{com.comment}}</span></span>
							</div>
						</div>
					</div>		
					</div>		
					<p>Laissez un commentaire : </p>
					<TEXTAREA ng-model="vm.MsgComment"  rows="3" cols="35" name="Comment"></TEXTAREA></p>
					<br>			
	    			<INPUT TYPE="submit" ng-click="vm.saveComment(vm.MsgComment,photo.id,vm.account.id)" NAME="SubmitComment" VALUE="Valider">
	 		</li>
		</div>
     </ul> 
 </div>
</div>
-->